@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.circle-checkbox .ant-checkbox-inner {
  border-radius: 50%; /* Makes the checkbox circular */
  width: 24px; /* Adjust the size as desired */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.circle-checkbox .ant-checkbox-inner:after {
  display: none; /* Hide the default checkmark */
}

.circle-checkbox .ant-checkbox-checked .ant-checkbox-inner:before {
  content: "\2713"; /* Unicode for check mark or use CheckOutlined from Ant */
  color: white;
  font-size: 12px; /* Adjust icon size */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-checkbox-color-1 .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #cc1be8; /* Adjust color for checked state */
  border-color: #cc1be8;
}
.circle-checkbox-color-1:hover .ant-checkbox-inner {
  border-color: #cc1be8 !important; /* Change border color on hover */
}
.circle-checkbox-color-1:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #cc1be8 !important; /* Slightly lighter color on hover */
  border-color: #cc1be8 !important;
}
.circle-checkbox-color-1 .ant-checkbox-inner {
  border: 2px solid #cc1be8; /* Default border color */
}

.circle-checkbox-color-2 .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2367f4; /* Adjust color for checked state */
  border-color: #2367f4;
}
.circle-checkbox-color-2:hover .ant-checkbox-inner {
  border-color: #2367f4 !important; /* Change border color on hover */
}
.circle-checkbox-color-2:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2367f4 !important; /* Slightly lighter color on hover */
  border-color: #2367f4 !important;
}
.circle-checkbox-color-2 .ant-checkbox-inner {
  border: 2px solid #2367f4; /* Default border color */
}
